
/* Basic Styles */
body {
	color: #2F2F2F;
	font-family: 'Roboto' , serif;
	font-style: normal; 
	font-weight: 300;
	text-align: left;
	line-height: 1.6em;
	font-size: 100%;
	
		}

/*typography*/
p{
	font-size: 1em;
	margin: 0 0 20px 0;	
}
h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 3.250em;
	line-height: 1.1;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 2.500em;
	line-height: 1.1;
}

h3 {
	font-family: 'Roboto Slab', serif;
	font-weight: 500;
	font-size: 1.500em;
	line-height: 1.1;
}

h4 {
	font-family: 'Roboto Slab', serif; 
	font-weight: 900;
	font-size: 1em;
	line-height: 1.1;
}
h5 {
	font-family: 'Roboto Slab', serif; 
	font-weight: 900;
	font-size: 1em;
	line-height: 1.1;
}
h6 {
	font-family: 'Roboto Slab', serif; 
	font-weight: 900;
	font-size: 1em;
	line-height: 1.1;
}
.large-text {
	font-size: 1.4em;
	line-height: 1.4;
	}
	
.small-text{
	font-size: 0.7em;
	line-height: 1.2;
	}


/*Smple Grid - 12 columns 60/20*/
/* 1 columns */
.columns_1{
	width: 940px;
	float: left;
	
}

/* 2 columns */
.columns_2{
	width: 460px;
	float: left; 
	margin-right: 20px;
}
.columns_2:last-of-type{
	margin-right: 0;
}

/* 3 columns */
.columns_3{
	width: 300px;
	float: left; 
	margin-right: 20px;
}
.columns_3:last-of-type{
	margin-right: 0;
}

/* 4 columns */
.columns_4{
	width: 220px;
	float: left; 
	margin-right: 20px;
}
.columns_4:last-of-type{
	margin-right: 0;
}

/* 6 columns */
.columns_6{
	width: 140px;
	float: left; 
	margin-right: 20px;
}
.columns_6:last-of-type{
	margin-right: 0;
}

/* 12 columns */
.columns_12{
	width: 60;
	float: left; 
	margin-right: 20px;
}
.columns_12:last-of-type{
	margin-right: 0;
}

/* Buttons */ 

.drk-otl-btn{
	display: inline-block;
	padding: 0 15px;
	text-align: center; 
	font-weight: 300;
	border: 1px solid #000;
	border-radius: 5px;
	margin: 20px 0; 
	cursor: pointer; 
}

.drk-otl-btn:link {
	color: #000000;
	text-decoration: none;	
}
.drk-otl-btn:hover {
	color: #ff6969;
	text-decoration: none;
	border: 1px solid #ff6969;
	
}

/*Misc HTML */
.align-right {
	float: right; 
	margin: 0 0 0 10px;
	padding: 0; 
}

.align-left {
	float: left; 
	margin: 0 10px 0 0;
	padding: 0; 
}

.align-center {
	display: block; 
	margin: 0 auto;
}



.container {
	width: 940px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	}
img {
	width: 100%;
	}
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	}
	
