/* Header */

header {
	width: 100%; 
	background-color: #efefef;
	position: fixed; 
	top: 0;
	z-index: 1000;
	padding: 15px 0 8px 0; 
}
.logo {
	width: 200px; 
	height: 20px; 
	float: left; 
	margin-top: 15px; 
	background: url("../images/pedagogy.svg") no-repeat; 
	
}
nav{
	float: right; 
}
nav ul {
	list-style-type: none; 
	text-align: right; 
}

nav li{
	display: inline-block; 
	font-size: .8em;
	font-weight: 600; 
	text-transform: uppercase; 
	letter-spacing: .1em; 
	padding-left: 20px;
	cursor: pointer; 
}

nav li a:link {
	color: #091091c5a;	
	text-decoration: none; 
}

nav li a:visited {
	color: #091091c5a;	
}

nav li a:hover {
	color: #ff6600;	
}


nav li a:active {
	color: #ff6600;	
}

.section-head {
	text-align: center; 	
}

.section-copy{
	text-align: center; 
	font-size: 1.2em;
}

/* introduction */

.introduction {
	width: 100%;
	padding: 120px 0 100px 0;
	background-color: #ffffff;
}

/*About Us */

.about {
	width: 100%;
	padding: 100px 0 100px 0;
	background-color: #efefef;
}

/*Customer Testimonials*/

.testimonials {
	width: 100%;
	padding: 100px 0;
	background-color: #ffffff;
}

.testimonials img{
	width: 130px; 
	margin-bottom: 10px;
	border-radius: 50%;
}

/* Projects*/

.projects{
	width: 100%;
	padding: 100px 0;
	background-color: #efefef;
}

.project-box {
	background-color: #f8f8f8;
}

.project-text{
	text-align: left;
	padding: 10px 20px;
}

.project-link{
	font-size: .7em;
	letter-spacing: .09em;
	text-transform: uppercase;
	font-weight: 900;
}

/* Features */

.features {
	width: 100%;
	padding: 100px 0;
	background-color: #ffffff;	
}

.features-subhead {
	text-align: left;
	margin-left: 60px;
}

.features-copy {
	margin-bottom: 20px;
	margin-left: 60px;
	text-align: left; 
}


.fa-github,
.fa-html5,
.fa-wrench,
.fa-file-pdf,
.fa-codepen {
	color: #696969;
	font-size: 2.5em;
	margin-bottom: 10px;
	margin-top: 20px;
		
}
.fa-css3 {
	color: #696969;
	font-size: 2.3em;
	margin-bottm: 10px;
	margin-top: 20px;
}

/*Memberships*/ 
.memberships {
	width: 100%;
	padding: 100px 0;
	background-color: #eeeeee;
}

.membership-free,
.membership-monthly,
.membership-yearly {
	font-size: 2em;
	color: #ffffff;
	text-align: center;
	padding: 20px 0;
}

.membership-free {
	background-color: #A3A3A3;
}

.membership-monthly {
	background-color: #6e6e6e;
}

.membership-yearly {
	background-color: #A3A3A3;
}

.membership-cost {
	font-size: 1.2em;
	color: #000000;
	font-weight: 900;
	text-align: center;
	padding: 10px 0;
	background-color: #dedede;
}

.membership-features {
	text-align: center;
	padding: 30px 0 20px 0;
	background-color: #f6f6f6;
}

.membership-features ul {
	padding: 0;
	margin: 0;
	text-align: center;
}

.membership-features li {
	list-style: none outside none;
	padding: 0 20px 10px 20px;
}

.membership-btn {
	margin: 30px auto;
}

.membership-btn a:link {
	border-radius: 5px;
	background-color: #dedede;
	padding: 10px 30px;
	font-size: .9em;
	font-weight: 100;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	text-color: #515255;
	
}




















